#marks-menu{
    width: 100%;
    height: 20rem;
    grid-template-columns: 1.375rem 1fr 1.375rem;
}

#left-arrow, #right-arrow{
    display: flex;
    align-items: center;
    height: 100%;
    width: 1.375rem;
    cursor: pointer;
}

#right-arrow{
    img{
    transform: rotate(180deg);
    }
}

#marks-grid{
    height: 100%;
    width: 100%;
    row-gap: 0.5rem;
    grid-template: 1fr 1fr / 1fr 1fr ;
}

.mark-container{
    grid-column: 7rem 1fr;
}

.circle-graph{
    height: 7rem;
    width: 7rem;
    margin: 0px auto 0px auto;
}

.outer-circle{
    transition: stroke-dashoffset 1s, stroke 1s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%,
}

.grade-text, .module-text{
    margin: 0rem;
}

.module-text{
    font-size: 0.75rem;
}