img[src^="assets/skills-certifications"]{
    width: 4rem;
    height: 4rem;
    position:absolute;
}

#Latex_Logo{
    width: 4.5rem;
    height: 3.375rem;
}

#HTML_Logo{
    height: 4.5rem;
}

#Haskell_Logo{
    height: 3rem;
}