// Disposition

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;

    & .centered{
        justify-content: center;
        align-items: center;
    }
}

.grid{
    display:grid;
}

// Aesthetics

.circle{
    border-radius: 50%;
}
.rounded-corners{
    border-radius: 0.625rem;
}
.rounded-corners-left{
    border-radius: 0.625rem 0 0 0.625rem;
}
.rounded-corners-right{
    border-radius: 0 0.625rem 0.625rem 0;
}


.border{
    border: 0.0625rem solid $border-color;
}

// Text alignment

.text-align-center{
    text-align: center;
}

.text-align-end{
    text-align: end;
}