#experiences-grid{

    row-gap: 3rem;

    div{

        row-gap: 0.45rem;

        a{
            margin-bottom: 0.7375rem;
        }

        div > p{
            width: 100%;
            font-size: 0.984375rem;
            margin: 0px;
        }

        p {
            margin-top: 0.5rem;
        }
    }
}

#TheYorker_Logo{
    width: 11.0625rem;
    height: 4.25rem;
}

#EpicGames_Logo{
    width: 4rem;
    height: 4rem;
}

#Mondadori_Logo{
    width: 13.5625rem;
    height: 2.125rem;
}

.work-experience-icon{
    width: 1.4375rem;
    height: 1.4375rem;
    margin-right: 1.8125rem;
}

.experience-text{
    font-size: 0.875rem;
    margin: 0px;
}

#bottom-arrow{
    display: flex;
    align-items: center;
    height: 1.375rem;
    width: 1.375rem;
    cursor: pointer;

    img{
        transform: rotate(-90deg);
        }

    &-section{
        height: 4.125rem;
        width: 100%;
    }
}