#contacts-grid{
    height: 23rem;
    margin-bottom: 3rem;
}

.contact-container{
    height: 3rem;
}

.contact-icon{
    width: calc(3rem - 2px);
    height: calc(100% - 2px);
}

.contact-text{
    width: calc(100% - 5rem);
    height: calc(100% - 2px);

    p{
        font-size: 0.875rem;
    }
}

.input{
    margin-bottom: 0.5rem;
}

label{
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

textarea{
    resize: none;
}

input[type="submit"]{
    border: 0.0625rem solid $border-color;
    margin-top: 0.25rem;
    width: 6rem;
}