img[src^="assets/skills-certifications"]{
    width: 4rem;
    height: 4rem;
    position:absolute;
}

#Latex_Logo{
    width: 4.5rem;
    height: 3.375rem;
}

#HTML_Logo{
    height: 4.5rem;
}

#Haskell_Logo{
    height: 3rem;
}

#IELTS_Logo, #ECDL_Logo, #Exam_Logo{
    width: 4.75rem;
    height: 1.75rem;
}

#Exam_Logo{
    height: 2.5rem;
}

#Grade_Logo, #Download_Logo{
    width: 1.25rem;
    height: 1.25rem;
}